[HOME_PARAMETER]
collaborative_filtering = 0
home = 0
content_based_filtering = 0
popularity = 0
average_location = 1
content_based_time = 0
popularity_time = 0

[NON_VISITOR_PARAMETER]
collaborative_filtering = 1
home = 1
content_based_filtering = 1
popularity = 1
average_location = 1
content_based_time = 1
popularity_time = 1

[VISITOR_PARAMETER]
collaborative_filtering = 0
home = 0
content_based_filtering = 0
popularity = 3
average_location = 0
content_based_time = 0
popularity_time = 3

[READ_FILE_DIR]
file_dir = test_3_data

[VALIDATION]
do_validation = yes